<h2>Please sign up</h2>

<div id='peeps-container'>

  <form action='/users' method='post' class='peep_form' align="center">
    <label>
      username: <input type='text' name='username' size='100' value='<%= @user.username %>'/>
    </label>
    <label>
      e-mail: <input type='text' name='email' size='100' value='<%= @user.email %>'/>
    </label>
    <label>
      password: <input type='password' name='password' size='100'/>
    </label>
    <label>
      password confirmation: <input type='password' name='password_confirmation' size='100'/>
    </label>
    <input type='submit' value='Sign up' class='button'>
  </form>
</div>