<% if flash[:notice] %>
  <div class="flash notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
<div class="flash errors">
  Sorry, there were the following problems with the form:
  <ul class="flash errors">
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  </ul>
</div>
<% end %>