  <div class="new_peep" align="center">
    <form action='/peeps' method='post'>
      <h2>add a new peep!</h2> <input type='text' name='peep'><input type='submit' value='Add peep' class="button">
    </form>
  </div>
<ul>
  <% @peeps.each do |peep| %>
    <%= partial :peep, locals: { peep: peep }  %>
  <% end %>
</ul>

